.chartBar {
    margin-bottom: 8px;
    margin-top: 20px;
}
.nav-color {
    background-image: -webkit-linear-gradient(top, #333, #41454C);
}
.navbar > .nav-color .nav > li > a {
    text-shadow: none;
    color: #D4D6D8;
}
.navbar > .nav-color .nav > .active > a {
    color: #777 !important;
    ;
}
.navbar .divider-vertical {
    height: 25px;
    margin: 6px 9px;
    border-left: 1px solid #D4D6D8;
    border-right: 1px solid #D4D6D8;
}
.hero-unit {
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .7);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#F2F2F2));
    padding: 0px;
}
.navbar .brand {
    float: left;
    display: block;
    padding: 10px 20px 10px;
    margin-left: -20px;
    font-size: 25px;
    font-weight: 200;
    color: #D4D6D8;
    text-shadow: none;
}
.left{
    padding-left: 10px;
}
.icon-remove:hover, .icon-pencil:hover{
    color: #686868;
}
a {
    color:#000;
}
a:link{
    text-decoration: none
}
.ui-show {
   opacity: 1;
	transition: all 0.5s ease; 
}
.ui-hide {
	opacity: 0;
	transition: all 0.5s ease; 
}