<div id="{{idname}}" class="modal hide fade" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="icon-remove"></i>
        </button>
        <h3 id="myModalLabel">{{idname}}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputDate">Date</label>
                <div class="controls">
                    <input type="text" id="inputDate" ng-model="date" ui placeholder="Enter Date"
                    ui-date ui-date-format="MM/dd/yy">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputAmount">Amount</label>
                <div class="controls">
                    <input type="number" id="inputAmount" ng-model="amount" placeholder="Enter Amout i.e. 5.00">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">Type</label>
                <div class="controls">
                    <select ui-select2 ng-model="contributionType" data-placeholder="Contribution Type"
                    style="width:200px">
                        <option value=""></option>
                        <option ng-repeat="contribution in contributions">{{contribution.type}}</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" on-close="dismiss">Close</button>
        <button class="btn btn-primary" ng-click="save(date,amount,contributionType)"
        data-dismiss="modal" aria-hidden="true">Save changes</button>
    </div>
</div>