<!DOCTYPE html>
<html lang="en" ng-app="ffc">
   
   <head>
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
      <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css">
      <link rel="stylesheet" type="text/css" href="build/angular-ui.min.css">
      <link rel="stylesheet" type="text/css" href="css/main.css">
      <link rel="stylesheet" type="text/css" href="select2/select2.css">
   </head>
   
   <body data-spy="scroll" data-target="#nav">
      <div class="container" ng-controller="mainCTRL">
         <div class="row">
            <div class="span12">
               <div id="nav" class="navbar navbar-static">
                  <div class="navbar-inner">
                     <a class="brand" href="#">FFC Financial</a>
                     <ul class="nav">
                        <li>
                           <a href="#dashboard"><i class="icon-dashboard icon-large"></i>Dashboard</a>
                        </li>
                        <li>
                           <a href="#contributions" data-toggle="modal"><i class="icon-credit-card icon-large"></i>Contributions</a>
                        </li>
                        <!--<li>-->
                        <!--   <a href="#attendance" data-toggle="modal"><i class="icon-group icon-large"></i>Attendance</a>-->
                        <!--</li>-->
                     </ul>
                     <!--<ul class="nav pull-right">-->
                     <!--   <li>-->
                     <!--      <a href="#SignIn" pop-over data-placement="bottom" data-title="sign-in"><i class="icon-lock icon-large"></i>Sign-In</a>-->
                     <!--   </li>-->
                     <!--</ul>-->
                  </div>
               </div>
               <div id="dashboard"></div>
               <!-- Modal -->
               <modal idname="contributions" ></modal>
               
               <div class="row">
                  <div class="span12">
                     <div id="chartBar" class="navbar chartBar navbar-static">
                        <div class="navbar-inner nav-color">
                           <ul class="nav">
                              <li class="dropdown">
                                 <a href="#" data-toggle="dropdown" class="dropdown-toggle" ng-bind="monthName">Month</a>
                                 <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                    <li ng-repeat="month in months">
                                       <a tabindex="-1" href="#" ng-click="change(month,$index)">{{month}}</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                       <a tabindex="-1" href="#" ng-click="change('All',12)">All</a>
                                    </li>
                                 </ul>
                              </li>
                              <li class="divider-vertical"></li>
                              <li class="dropdown">
                                 <a href="#" data-toggle="dropdown" class="dropdown-toggle" ng-bind="yearName">Year</a>
                                 <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                    <li ng-repeat="year in years">
                                       <a tabindex="-1" href="#" ng-click="change(year)">{{year}}</a>
                                    </li>
                                 </ul>
                              </li>
                              <li class="divider-vertical"></li>
                              <li>
                                 <a href="#">Compare</a>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="hero-unit" data-spy="scroll" data-target="#chartBar" data-offset="0">
                        <high-chart id="chart" style="width: 82%;"></high-chart>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="span9">
                     <div class="navbar chartBar">
                        <div class="navbar-inner nav-color">
                           <a class="brand" href="#">Contribution Amounts</a>
                        </div>
                     </div>
                     <div class="hero-unit">
                        <table class="table table-striped table-hover">
                           <thead>
                              <tr>
                                 <th>Actions</th>
                                 <th>Date</th>
                                 <th>Amount</th>
                                 <th>Contribution</th>
                              </tr>
                           </thead>
                           <tr ng-repeat="data in datas" class="noahref">
                              <td ng-cloak>
                                 <a href="#deletes" ui-jq="tooltip" ui-toggle="showHide" ng-init="showHide=true" title="delete record" ng-click="delete($index)"><i class="icon-remove icon-large left"></i></a>
                                 <!--<a href="#edit" ui-jq="tooltip" title="edit record" ng-click="edit()"><i class="icon-pencil icon-large left"></i></a>-->
                              </td>
                              <td ng-cloak contenteditable on={{enable}} ng-model="date" ident={{data.id}}>{{data.date}}</td>
                              <td ng-cloak contenteditable on={{enable}} ng-model="amount" ident={{data.id}}>{{data.amount | currency}}</td>
                              <td ng-cloak contenteditable on={{enable}}
                              ng-model="contribution" ident={{data.id}}>{{data.type}}</td>
                           </tr>
                        </table>
                     </div>
                  </div>
                  <div class="span3">
                     <div class="well">
                     <h4>Additional Information</h4>
                        <table class="table table-striped table-hover">     
                              <tr class="success">
                                 <td><b>Highest:</b></td>
                                 <td ng-init="highest=0.00" ng-bind="highest|currency"></td>
                              </tr>
                              <tr class="error">
                                 <td><b>Lowest:</b></td>
                                 <td ng-init="lowest=0.00" ng-bind="lowest|currency"></td>
                              </tr>
                              <tr class="info">
                                 <td><b>Average:</b></td>
                                 <td ng-init="average=0.00" ng-bind="average|currency"></td>
                              </tr>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
      <script type="text/javascript" charset="utf-8" src="js/bootstrap.min.js"></script>
<!--      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>-->
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
      <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-resource.js"></script>
      <script type="text/javascript" charset="utf-8" src="build/angular-ui.min.js"></script>
      <script type="text/javascript" charset="utf-8" src="http://www.parsecdn.com/js/parse-1.2.7.min.js"></script>
      <script type="text/javascript" charset="utf-8" src="js/highcharts.js"></script>
      <script type="text/javascript" charset="utf-8" src="select2/select2.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
      <script type="text/javascript" charset="utf-8" src="js/app.js"></script>
      <script type="text/javascript" charset="utf-8" src="js/directive.js"></script>
      <script type="text/javascript" charset="utf-8" src="js/service.js"></script>
   </body>

</html>